

body{
    background-color: white;
}

#timeIndi {
    font-size: 6em;
}

#stepDiv{
    overflow: scroll;
    width: 100%;
    height: 190px;
    padding: 10px;
}

#step_zero{
    
    width:100%;
    height: 60%;
    padding: 10px;
}

#timerDiv{
    position: absolute;
    bottom:10;
    width: 100%;
    height: 30%;
    text-align: center;
}

#currentStep{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.pageCont{
    position: absolute;
    bottom:0;
    width:100%;
    height: 10%;
    display: inline-block;
    padding:10px;
}

#recipeTitle{
    margin:10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#stepNumber{
    margin-left:10px;
    margin-bottom: 0px;
    color: black;
}

#nextBtn{
    float:right;
}

.displayedTime{
    text-align: center;
}

i{
    margin:10px;
    color: black;
    font-size: 50px;
    cursor: pointer;
}

#timeIndi{
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ingredients{
    font-size: 20px;
}

#startMsg{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: right;
}

#imgbox{
    display: inline;
    text-align: center;
}
#ingrbox{
    display: inline;
}

#lastStep{
    text-align: center;
}

#mainImg{
    width: 100px;
}