

body{
    background-color: white;
}

#timeIndi {
    font-size: 6em;
}

#stepDiv{
    background-color: lightgrey;
    width: 100%;
    height: 30%;
    padding: 10px;
}

#step_zero{
    background-color: lightgrey;
    width:100%;
    height: 60%;
    padding: 10px;
}

#timerDiv{
    position: absolute;
    bottom:10;
    background-color: gray;
    width: 100%;
    height: 30%;
    text-align: center;
}

#currentStep{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.pageCont{
    position: absolute;
    bottom:0;
    width:100%;
    height: 10%;
    background-color: antiquewhite;
    display: inline-block;
}

.pageCont Button{
    width:70;
    height:70;
    padding: 20px;
    margin:5px;
    border:none;
    border-radius: 5px;
    background-color: black;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition: color 0.3s, background-color 0.3s;
}



Button:hover {
    background-color: white;
    color: black;
  }

#recipeTitle{
    margin:10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#stepNumber{
    margin-left:10px;
    margin-bottom: 15px;
    color: black;
}

#nextBtn{
    float:right;
}

.displayedTime{
    text-align: center;
}

i{
    margin:10px;
    color: black;
    font-size: 50px;
    cursor: pointer;
}

#timeIndi{
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ingredients{
    font-size: 20px;
}

#startMsg{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-align: right;
}

#imgbox{
    width: 100%;
    text-align: center;
}

#lastStep{
    text-align: center;
}