.topBar{
    width:100%;
    height:50px;
    background-color: antiquewhite;
}

#logodiv{
    width:200px;
    height:60px;
    background-image: url("../components/logo_w.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position:center center;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}


#loadingMsg{
    color:black;
    text-align: center;
    font-size: 20px;
}


#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

.site-layout .site-layout-background {
background: #fff;
}

Menu.Item{
    width:300;
}

#searchbox{
    position:absolute;
    right:300px;
    top:15px;
}

#avatar{
    position:absolute;
    right:15px;
    top:10px;
}